<%- include('header'); %>

<div class="detail">
  <h1> Maturing Sun </h1>
  <img src="images/maturing-sun.jpg" alt="">
  <p> Peter Graham (born 1958) is a prolific British composer for brass band.

Graham was born in Lanarkshire, Scotland. He studied at the University of Edinburgh and then undertook postgraduate studies with Edward Gregson at Goldsmiths College, University of London. He holds a PhD in composition.

From 1983 until 1986, he lived in New York City, where he worked as a freelance composer/arranger and as a publications editor with the S.A. Music Bureau. Since his return to the U.K., he has worked regularly as an arranger for BBC Television and Radio and has specialised in composition for brass band. Since the publication of Dimensions (1983), a recording of which can be seen here, he has carved out a niche as an outstanding arranger for brass bands, and a leading figure amongst contemporary band composers. His original compositions, which include The Essence of Time, Montage and Journey to the Centre of the Earth, are performed worldwide and have been selected as test-pieces for National Championships in Australia, New Zealand, North America and across Europe.


</p>

</div>


<%- include('footer'); %>
