<p class="voet"> website gemaakt door Anton Van Goubergen voor het OLOD crossmediatechnologie 4 - Artesis plantijn Hogeschool. <br> LINK NAAR DE ONLINE VERSIE: https://shielded-citadel-71696.herokuapp.com/
</p>



<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="/js/filter.js"></script>

</body>
</html>
