<%- include('header'); %>


<div class="homebody">
  <h1> Welkom op de museum app </h1>

  <p> via deze app kan u een selectie van de werken bekijken die in dit museum zijn te bezichtigen. Telkens met de correcte informatie erbij vermeld. </p>
</div>




<%- include('footer'); %>
